<footer>
  <div class="footer">
    <div class="col-10 footer-container">
      <div class="footer-item col-sm-3 col-12">
        <h2>درباره ما</h2>
        <div class="about">
          لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده
          از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و
          سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای
          متنوع با هدف بهبود ابزارهای کاربردی می باشد کتابهای زیادی در شصت و سه
          درصد گذشته حال و آینده
        </div>
      </div>
      <div class="footer-item col-sm-3 col-12">
        <h2>آخرین پست ها</h2>
        <ul class="recent-post">
          <li>لورم ایپسوم متن ساختگی با تولید سادگی</li>
          <li>لورم ایپسوم متن ساختگی با تولید سادگی</li>
          <li>لورم ایپسوم متن ساختگی با تولید سادگی</li>
          <li>لورم ایپسوم متن ساختگی با تولید سادگی</li>
          <li>لورم ایپسوم متن ساختگی با تولید سادگی</li>
          <li>لورم ایپسوم متن ساختگی با تولید سادگی</li>
        </ul>
      </div>
      <div class="footer-item col-sm-3 col-12">
        <h2>حامیان ما</h2>
        <div class="support-icon">
          <div>
            <img src="../../../assets/img/09.jpg" class="support-avatar" />
          </div>
          <div class="support-des">
            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
            استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در
          </div>
        </div>
        <div class="support-icon">
          <div>
            <img src="../../../assets/img/07.jpg" class="support-avatar" />
          </div>
          <div class="support-des">
            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
            استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در
          </div>
        </div>
        <div dir="ltr">
          <button mat-raised-button>حمایت مالی</button>
        </div>
      </div>
      <div class="footer-item col-sm-3 col-12">
        <h2>دیجی پای</h2>
        <div class="about">
          لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده
          از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و
          سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای
          متنوع با هدف بهبود ابزارهای کاربردی می باشد کتابهای زیادی در شصت و سه
          درصد گذشته حال و آینده
        </div>
      </div>
    </div>
  </div>
  <div class="copy-right">
    <div style="margin-right: 12px">
      طراحی و برنامه نویسی :
      <a href="https://moshavernet.com" target="_blank"> مشاورنت </a> | کپی رایت
      &copy; 1399
    </div>
  </div>
</footer>
