<app-header></app-header>
<div class="main">
  <div class="detail-container">
    <div class="img-container col-xl-2 col-md-4 col-sm-6 col-12">
      <img src="../../../../assets/img/Capture222.png" />
    </div>
    <div class="detail-container col-xl-8 col-md-8 col-sm-6 col-12">
      <div class="details col-lg-6 col-12">
        <div class="name">لورم ایپسوم متن ساختگی با</div>
        <div class="detail-item">
          <div class="evalator-profile">
            <span>
              <img src="../../../../assets/img/profile.jpeg" alt="" />
            </span>
            <span> محمد نجفی </span>
          </div>
        </div>
        <div class="detail-item">
          <span class="title"> کشور سازنده : </span>
          <span class="value"> آمریکا </span>
        </div>
        <div class="detail-item">
          <span class="title"> کمپانی سازنده : </span>
          <span class="value"> هالیوود </span>
        </div>
        <div class="detail-item">
          <span class="title"> امتیاز : </span>
          <span class="value"> 7.2 </span>
        </div>
        <div class="detail-item">
          <span class="title"> کارگردان : </span
          ><span class="value"> مهران مدیری </span>
        </div>
        <div class="detail-item">
          <span class="title"> تهیه کننده : </span
          ><span class="value"> محمد نجفی </span>
        </div>
        <div class="detail-item">
          <span class="title"> نویسنده : </span>
          <span class="value"> لورم ایپسوم </span>
        </div>
        <div class="detail-item">
          <span class="title"> بازیگران : </span
          ><span class="value">
            لورم ساز، لورم ساز، لورم ساز، لورم ساز، لورم ساز، لورم ساز، لورم
            ساز،، لورم ساز، لورم ساز
          </span>
        </div>

        <div class="detail-item">
          <span class="title"> کاراکتر ها : </span
          ><span class="value">
            لورم ساز، لورم ساز، لورم ساز، لورم ساز، لورم ساز، لورم ساز، لورم
            ساز،، لورم ساز، لورم ساز
          </span>
        </div>
      </div>
      <div class="details col-lg-6 col-12">
        <div class="detail-item">
          <span class="title"> ژانر : </span>
          <span class="value"> کمدی، جنایی، تخیلی </span>
        </div>
        <div class="detail-item">
          <span class="title"> رده سنی : </span>
          <span class="value"> +18 </span>
        </div>
        <div class="detail-item">
          <span class="title"> مخاطب : </span
          ><span class="value"> بزرگسالان </span>
        </div>
        <div class="detail-item">
          <span class="title"> طول فیلم : </span
          ><span class="value"> 160 دقیقه </span>
        </div>
        <div class="detail-item">
          <span class="title"> سال انتشار : </span
          ><span class="value"> 2014 </span>
        </div>
        <div class="detail-item">
          <span class="title"> سال شروع : </span
          ><span class="value"> 1378 </span>
        </div>
        <div class="detail-item">
          <span class="title"> سال پایان : </span
          ><span class="value"> 1381 </span>
        </div>
        <div class="detail-item">
          <span class="title"> خلاصه داستان : </span
          ><span class="value">
            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
            استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در
            ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و
            کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="df">
    <div class="col-xl-4 col-md-6 col-12 expand-container">
      <mat-accordion>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title class="emoji-title">
              <img src="../../../../assets/evalation-icon/violence.svg" />
            </mat-panel-title>
            <mat-panel-description class="avalation-title">
              <div>خشونت</div>
              <div class="des">
                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با
                استفاده از طراحان گرافیک است،
              </div>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p>
            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با
            استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در
            ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز،
            و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای
            زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و
            متخصصان را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان
            رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد
            کرد، در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه
            راهکارها، و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل
            حروفچینی دستاوردهای اصلی، و جوابگوی سوالات پیوسته اهل دنیای موجود
            طراحی اساسا مورد استفاده قرار گیرد.
          </p>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <div class="col-xl-4 col-md-6 col-12 expand-container">
      <mat-accordion>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title class="emoji-title">
              <img src="../../../../assets/evalation-icon/fear.svg" />
            </mat-panel-title>
            <mat-panel-description class="avalation-title">
              <div>ترس</div>
              <div class="des">
                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با
                استفاده از طراحان گرافیک است،
              </div>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p>
            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با
            استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در
            ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز،
            و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای
            زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و
            متخصصان را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان
            رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد
            کرد، در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه
            راهکارها، و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل
            حروفچینی دستاوردهای اصلی، و جوابگوی سوالات پیوسته اهل دنیای موجود
            طراحی اساسا مورد استفاده قرار گیرد.
          </p>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <div class="col-xl-4 col-md-6 col-12 expand-container">
      <mat-accordion>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title class="emoji-title">
              <img
                src="../../../../assets/evalation-icon/social-anomalies.svg"
              />
            </mat-panel-title>
            <mat-panel-description class="avalation-title">
              <div>ناهنجاری اجتماعی</div>
              <div class="des">
                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با
                استفاده از طراحان گرافیک است،
              </div>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p>
            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با
            استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در
            ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز،
            و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای
            زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و
            متخصصان را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان
            رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد
            کرد، در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه
            راهکارها، و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل
            حروفچینی دستاوردهای اصلی، و جوابگوی سوالات پیوسته اهل دنیای موجود
            طراحی اساسا مورد استفاده قرار گیرد.
          </p>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <div class="col-xl-4 col-md-6 col-12 expand-container">
      <mat-accordion>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title class="emoji-title">
              <img src="../../../../assets/evalation-icon/positive.svg" />
            </mat-panel-title>
            <mat-panel-description class="avalation-title">
              <div>پیام مثبت</div>
              <div class="des">
                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با
                استفاده از طراحان گرافیک است،
              </div>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p>
            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با
            استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در
            ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز،
            و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای
            زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و
            متخصصان را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان
            رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد
            کرد، در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه
            راهکارها، و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل
            حروفچینی دستاوردهای اصلی، و جوابگوی سوالات پیوسته اهل دنیای موجود
            طراحی اساسا مورد استفاده قرار گیرد.
          </p>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <div class="col-xl-4 col-md-6 col-12 expand-container">
      <mat-accordion>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title class="emoji-title">
              <img
                src="../../../../assets/evalation-icon/positive-pattern.svg"
              />
            </mat-panel-title>
            <mat-panel-description class="avalation-title">
              <div>الگوی مثبت</div>
              <div class="des">
                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با
                استفاده از طراحان گرافیک است،
              </div>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p>
            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با
            استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در
            ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز،
            و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای
            زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و
            متخصصان را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان
            رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد
            کرد، در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه
            راهکارها، و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل
            حروفچینی دستاوردهای اصلی، و جوابگوی سوالات پیوسته اهل دنیای موجود
            طراحی اساسا مورد استفاده قرار گیرد.
          </p>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <div class="col-xl-4 col-md-6 col-12 expand-container">
      <mat-accordion>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title class="emoji-title">
              <img src="../../../../assets/evalation-icon/educational.svg" />
            </mat-panel-title>
            <mat-panel-description class="avalation-title">
              <div>ارائه آموزشی</div>
              <div class="des">
                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با
                استفاده از طراحان گرافیک است،
              </div>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p>
            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با
            استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در
            ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز،
            و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای
            زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و
            متخصصان را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان
            رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد
            کرد، در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه
            راهکارها، و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل
            حروفچینی دستاوردهای اصلی، و جوابگوی سوالات پیوسته اهل دنیای موجود
            طراحی اساسا مورد استفاده قرار گیرد.
          </p>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <div class="col-xl-4 col-md-6 col-12 expand-container">
      <mat-accordion>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title class="emoji-title">
              <img
                src="../../../../assets/evalation-icon/religious-anomaly.svg"
              />
            </mat-panel-title>
            <mat-panel-description class="avalation-title">
              <div>ناهنجاری مذهبی</div>
              <div class="des">
                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با
                استفاده از طراحان گرافیک است،
              </div>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p>
            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با
            استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در
            ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز،
            و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای
            زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و
            متخصصان را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان
            رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد
            کرد، در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه
            راهکارها، و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل
            حروفچینی دستاوردهای اصلی، و جوابگوی سوالات پیوسته اهل دنیای موجود
            طراحی اساسا مورد استفاده قرار گیرد.
          </p>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
  <div class="tab-container main">
    <mat-card class="col-xl-6 col-sm-10 col-12">
      <mat-tab-group mat-align-tabs="center">
        <mat-tab label="آنچه والدین باید بدانند">
          <div class="tab">
            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
            استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در
            ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و
            کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد کتابهای زیادی
            در شصت و سه درصد گذشته حال و آینده
          </div>
        </mat-tab>
        <mat-tab label="آنچه فرزندان باید بدانند">
          <div class="tab">
            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
            استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در
            ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و
            کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد کتابهای زیادی
            در شصت و سه درصد گذشته حال و آینده
          </div>
        </mat-tab>
      </mat-tab-group>
    </mat-card>
  </div>
  <div class="gallery">
    <swiper [config]="slideConfig">
      <div class="video-iframe">
        <style>
          .h_iframe-aparat_embed_frame {
            position: relative;
          }
          .h_iframe-aparat_embed_frame .ratio {
            display: block;
            width: 100%;
            height: auto;
          }
          .h_iframe-aparat_embed_frame iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
          }
        </style>
        <div class="h_iframe-aparat_embed_frame">
          <span style="display: block; padding-top: 57%"></span
          ><iframe
            src="https://www.aparat.com/video/video/embed/videohash/6W9dv/vt/frame"
            allowFullScreen="true"
            webkitallowfullscreen="true"
            mozallowfullscreen="true"
          ></iframe>
        </div>
      </div>
      <div class="swiper-slide">
        <img src="../../../../assets/img/06.jpg" />
      </div>
      <div class="swiper-slide">
        <img src="../../../../assets/img/07.jpg" />
      </div>
      <div class="swiper-slide">
        <img src="../../../../assets/img/02.jpg" />
      </div>
      <div class="swiper-slide">
        <img src="../../../../assets/img/09.jpg" />
      </div>
      <div class="swiper-slide">
        <img src="../../../../assets/img/10.jpg" />
      </div>
    </swiper>
  </div>
  <div class="movie-container">
    <mat-card class="icon-card mat-elevation-z8">
      <button
        (click)="
          openDialog(
            'ترس',
            '
            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد
  ',
            '../../../../assets/evalation-icon/violence.svg'
          )
        "
        mat-button
      >
        <img src="../../../../assets/evalation-icon/violence.svg" />
        <div class="evalation-name">خشونت</div>
      </button>
      <button mat-button>
        <img src="../../../../assets/evalation-icon/fear.svg" />
        <div class="evalation-name">ترس</div>
      </button>
      <button mat-button>
        <img src="../../../../assets/evalation-icon/social-anomalies.svg" />
        <div class="evalation-name">ناهنجاری اجتماعی</div>
      </button>
      <button mat-button>
        <img src="../../../../assets/evalation-icon/religious-anomaly.svg" />
        <div class="evalation-name">ناهنجاری مذهبی</div>
      </button>
    </mat-card>
    <mat-card class="video-card col-sm-6 col-8 mat-elevation-z8">
      <app-vjs
        src="../.../../../../../assets/oceans.mp4"
        poster="../.../../../../../assets/img/oceans.png"
      ></app-vjs>
      <div class="player-detail">
        <div class="movie-name">لورم ایپسوم متن ساختگی با</div>
        <div>
          لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده
          از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و
          سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای
          متنوع با هدف بهبود ابزارهای کاربردی می باشد
        </div>
        <div dir="ltr" class="df">
          <div class="col-xl-4 col-8 movie-count">
            <div class="count">
              <button mat-icon-button>
                <mat-icon>thumb_up</mat-icon>
              </button>
              <div>16</div>
            </div>

            <div class="count">
              <button (click)="scrollFn('comment')" mat-icon-button>
                <mat-icon> mode_comment</mat-icon>
              </button>
              <div>12</div>
            </div>

            <div class="count">
              <button style="cursor: unset" mat-icon-button>
                <mat-icon>remove_red_eye</mat-icon>
              </button>
              <div>1500</div>
            </div>
          </div>
        </div>
      </div>
    </mat-card>
  </div>

  <mat-chip-list class="tags">
    <mat-chip> #لورم ایپسوم</mat-chip>
    <mat-chip> #لورم ایپسوم</mat-chip>
    <mat-chip> #لورم ایپسوم</mat-chip>
    <mat-chip> #لورم ایپسوم</mat-chip>
    <mat-chip> #لورم ایپسوم</mat-chip>
    <mat-chip> #لورم ایپسوم</mat-chip>
    <mat-chip> #لورم ایپسوم</mat-chip>
    <mat-chip> #لورم ایپسوم</mat-chip>
    <mat-chip> #لورم ایپسوم</mat-chip>
    <mat-chip> #لورم ایپسوم</mat-chip>
    <mat-chip> #لورم ایپسوم</mat-chip>
    <mat-chip> #لورم ایپسوم</mat-chip>
    <mat-chip> #لورم ایپسوم</mat-chip>
    <mat-chip> #لورم ایپسوم</mat-chip>
    <mat-chip> #لورم ایپسوم</mat-chip>
    <mat-chip> #لورم ایپسوم</mat-chip>
    <mat-chip> #لورم ایپسوم</mat-chip>
    <mat-chip> #لورم ایپسوم</mat-chip>
    <mat-chip> #لورم ایپسوم</mat-chip>
    <mat-chip> #لورم ایپسوم</mat-chip>
  </mat-chip-list>
</div>

<div class="comment-container main" id="comment">
  <div class="col-lg-8 col-sm-10 col-12">
    <h1>نظرات کاربران</h1>
    <div class="comment">
      <div class="comment-header">
        <div class="comment-avatar">
          <img src="../../../../assets/img/profile.jpeg" alt="" />
          محمد نجفی
        </div>
        <div class="comment-date">2 آبان 99</div>
      </div>
      <div class="comment-body">
        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ
      </div>
    </div>
    <mat-divider></mat-divider>
    <div class="comment">
      <div class="comment-header">
        <div class="comment-avatar">
          <img src="../../../../assets/img/09.jpg" alt="" />
          علی احمدی
        </div>
        <div class="comment-date">5 مهر 99</div>
      </div>
      <div class="comment-body">
        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپلورم ایپسوم متن
        ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک
        است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است
      </div>
    </div>
    <mat-divider></mat-divider>
    <div class="comment">
      <div class="comment-header">
        <div class="comment-avatar">
          <img src="../../../../assets/img/07.jpg" alt="" />
          محمد نجفی
        </div>
        <div class="comment-date">3 شهریور 99</div>
      </div>
      <div class="comment-body">
        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ
      </div>
    </div>
    <mat-divider></mat-divider>
    <div class="set-comment">
      <mat-form-field class="col-12" appearance="outline">
        <textarea
          placeholder="نظر خود را درباره ی این اثر بنویسید"
          rows="6"
          matInput
        ></textarea>
      </mat-form-field>
      <div dir="ltr">
        <button mat-flat-button color="primary">ثبت نظر</button>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
