<app-header></app-header>
<div class="player-container">
  <div class="col-sm-3 col-12">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, voluptate
    est quibusdam enim, blanditiis cum voluptatibus doloremque quidem
    consequuntur aliquam repudiandae in reprehenderit quia non reiciendis
    numquam cupiditate aperiam debitis officiis! Aut magni officia vitae
    voluptatem, veritatis consectetur voluptas corrupti.
  </div>
  <div class="col-sm-5 col-12">
    <app-vjs src="../../../../assets/oceans.mp4"></app-vjs>
  </div>
  <div class="col-sm-3 col-12">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia numquam
    tenetur ducimus veniam modi ipsam tempore? Et aut aperiam voluptates at
    earum tenetur sint, aliquid explicabo id minima doloremque nostrum, maxime
    vel iure voluptatem, quo fugiat dolorem obcaecati modi autem?
  </div>
</div>
<div class="detail-container">
  <div class="col-8">
    <div class="name">لورم ایپسوم متن ساختگی با تولید</div>
    <div class="summary">
      لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از
      طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان
      که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف
      بهبود ابزارهای کاربردی می باشد کتابهای زیادی در شصت و سه درصد گذشته حال و
      آینده شناخت فراوان جامعه و متخصصان را می طلبد
    </div>
    <div dir="ltr">
      <div class="movie-detail col-3">
        <div class="count">
          <mat-icon>remove_red_eye</mat-icon>
          <div>1500</div>
        </div>

        <div class="count">
          <mat-icon> mode_comment</mat-icon>
          <div>12</div>
        </div>
        <div class="count">
          <mat-icon>thumb_up</mat-icon>
          <div>16</div>
        </div>
      </div>
    </div>
    <div class="avatar-container">
      <img class="avatar" src="../../../../assets/img/profile.jpeg" />
      <div>
        <div class="evaluator-name">محمد نجفی</div>
        <div class="subtitle">برنامه نویس</div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
